/*
upgrade.html
*/

.mdl-card__title,
.mdl-card__supporting-text,
.panel > .mdl-list .mdl-list__item {
    color: #fff;
    line-height: 1.2em;
}

.financial-panel {
    border: 1px solid #fff;
    background: transparent;
}

.label {
    font-style: normal !important;
    font-weight: normal !important;
}

.media-body {
    padding: 20px;
}

.pagination {
    color: #000;
}