/*需求提交*/
.from-box h2 {
    font-size: 22px;
    color: #333;
    padding: 6px 0 28px;
    font-weight: 400;
}

.from-box h2, .text-align {
    text-align: center;
}

.from-box .input-box {
    width: 490px;
    margin: 0 auto;
}

.from-box .input-box ul li {
    margin-bottom: 20px;
}

li {
    list-style: none;
}

blockquote, body, button, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, option, p, pre, select, td, textarea, th, ul {
    padding: 0;
    margin: 0;
    word-break: break-all;
    word-wrap: break-word;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-tap-highlight-color: rgba(255, 255, 255, 0);
    -ms-tap-highlight-color: rgba(255, 255, 255, 0);
    -o-tap-highlight-color: rgba(255, 255, 255, 0);
    font: 12px/20px 'PingFang SC', '微软雅黑', arial, Regular;
}
.from-box .input-box ul .left {
    width: 70px;
    float: left;
    text-align: right;
    color: #666;
    line-height: 30px;
}

.from-box .input-box ul .right {
    width: 390px;
    float: right;
    text-align: left;
}

.from-box .input-box ul .right input {
    height: 46px;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    padding: 8px 13px;
    color: #666;
    border: 1px solid #ccc;
}

.from-box .input-box ul .right textarea {
    resize: none;
    width: 100%;
    height: 130px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #666;
    padding: 8px;
}

input[type=button], input[type=submit], input[type=reset], input[type=text], textarea {
    -webkit-appearance: none;
}

.clearFix:after {
    content: " ";
    clear: both;
    display: block;
}

.row-c {
    text-align: center;
}

.hidden {
    display: none !important;
}

.hidden, .hiddenhasshow {
    display: none;
}

input[type=button], input[type=submit], input[type=reset], input[type=text] {
    -webkit-appearance: none;
    outline: 0;
}

textarea {
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    flex-direction: column;
    cursor: auto;
    white-space: pre-wrap;
}

input {
    -webkit-rtl-ordering: logical;
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}

input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

.page-content {
    margin-top: 10px;
    margin-bottom: 25px;
}

.box {
    width: 1150px !important;
}

.box, .fluidcenter {
    margin: 0 auto;
}

.box, .relative {
    position: relative;
}

.info_box {
    width: 1100px;
    margin: 40px auto 0;
    background: #fff;
    position: relative;
    padding: 25px;
}

.box_box, .img_background img, .info_box {
    border: 1px solid #e5e5e5;
}

.img_background {
    width: 200px;
    height: 200px;
    background-size: 80% 80%;
    float: left;
}

.text_box {
    color: #333;
    float: left;
    margin-left: 22px;
    width: 680px;
}

.text_box h2 {
    font-weight: 400;
    padding-bottom: 16px;
    font-size: 24px;
}

.text_box p {
    line-height: 30px;
    padding-bottom: 16px;
    color: #666;
    font-size: 14px;
}

/*标签*/
p.tages span:first-child {
    margin-left: 0;
}

p.tages span {
    line-height: 24px;
    padding: 0 10px;
    border: 1px solid #1d9dd1;
    color: #1d9dd1;
    margin-left: 10px;
    display: inline-block;
}

.btn_share {
    width: 127px;
    float: right;
}

/*详情介绍*/
.content_box {
    margin: 20px auto;
    width: 1100px;
}

.content_box .fl_left {
    width: 719px;
    float: left;
}

.content_box .fl_right {
    width: 305px;
    float: right;
}

.box_box {
    background: #fff;
    padding: 30px;
}

.box_box img {
    width: 560px;
    display: inline-block;
    border: none;
    margin-top: 20px;
}

.margin-top28 {
    margin-top: 20px;
}

.box_box, .img_background img, .info_box {
    border: 1px solid #e5e5e5;
}

.service_lables {
    border-bottom: 1px solid #e5e5e5;
    margin: -30px -30px 0;
    padding-left: 5px;
}

.service_lables span.active {
    color: #1d9dd1;
    border-bottom: 2px solid #1d9dd1;
}

.service_lables span {
    padding: 25px 30px;
    display: inline-block;
    font-size: 14px;
    color: #999;
    cursor: pointer;
}

.from-box h2, .text-align {
    text-align: center;
}

.content_box p {
    line-height: 24px;
    margin-top: 25px;
    color: #999;
}

.content_box p, .text_box p, .text_box p span {
    font-size: 14px;
}

/*分割线*/
.content_text hr, .content_text.dd hr {
    margin-top: 30px;
    border: 1px solid #e5e5e5;
}

.marginhr {
    margin: 25px -30px;
}

.box_box h3 {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 100%;
}

.row .col-md-9 {
    width: 75%;
    float: left;
}

.row .col-md-6 {
    width: 50%;
    float: left;
}

.row .col-md-3 {
    width: 25%;
    float: left;
}

.col-md-3.one img {
    border-radius: 50%;
    width: 100%;
    display: inline-block;
    border: none;
    max-width: 75px;
}

.nopadding {
    padding: 0 !important;
}

.from-box h2, .text-align {
    text-align: center;
}

.content_box p:first-child {
    margin-top: 0;
    color: #333;
    font-size: 16px;
}

.col-md-9 p:first-child {
    margin-top: 0;
}

.col-md-9 p:last-child {
    margin-top: 5px;
    color: #999;
    line-height: 26px;
    font-size: 14px;
    max-height: 56px;
    overflow: hidden;
}

.content_box p {
    line-height: 24px;
    margin-top: 25px;
    color: #999;
}

.content_box p.nomargin {
    margin-top: 5px;
    max-height: 52px;
    overflow: hidden;
}

.content_box p, .text_box p, .text_box p span {
    font-size: 14px;
}

.content_box p.people-allbtn, .rzinfo_box p span.blue {
    color: #1d9dd1;
}

/*案例评价*/
.row.yes {
    margin: 0 -7px;
}

.col-md-3.two img {
    margin-top: 0;
    width: 100%;
    height: 85px;
    display: block;
    border: 1px solid #e5e5e5;
}

.paddingtop20 {
    padding-top: 20px;
}

/*客户评价*/
.imgleft .fl_left, .imgright .fl_right {
    width: 95px;
    text-align: center;
    box-sizing: border-box;
    padding-right: 15px;
}

.imgleft .fl_left img, .imgright .fl_right img {
    display: inline-block;
    position: relative;
    left: 3px;
    width: 84px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    margin-top: 0;
}

.imgleft .fl_right {
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    width: 625px;
}

.content_box .fl_right {
    width: 330px;
    float: right;
}

.comment_content {
    margin: 0 -30px;
}

.comment_content .imgleft {
    background: #deeaf1;
    box-sizing: border-box;
    padding: 30px;
}

.comment_content .imgright {
    background: #fff;
    box-sizing: border-box;
    padding: 30px;
}